body {
    box-sizing: border-box;
}

h1 {
    background-color: #ffdbbb;
    text-align: center;
}

.container {
    text-align: center;
    height: 300px;
    width: auto;
}

.button {
    padding: 15px;
    margin: 30px 20px;
    display: inline-flex;
    height: 50px;
    width: 200px;
}

.cb {
    background-color: rgb(255, 255, 146);
    color: navy;
}

.rvccb {
    background-color: darkred;
    color: white;
}

.pp {
    background-color: orangered;
    color: white;
}

.title {
    margin: 10px auto;
    font
}